.feature__content {
    margin-top: 80px;

    &__subtitle {
        font-size: 2rem;
    }
    &__title {
        font-size: 3.6rem;
    }

    &__subtitle , &__title > span {
        color: $main-color;
    }

    &__carousel {
        @include flex(center, space-between);

        gap: 30px;
        margin-top: 2rem;

        &__item {
            @include flex(center, space-between);

            flex-direction: column;
            margin-right: 8rem;
            gap: 1rem;
            img {
                width: 25%;
            }
            h5 {
                font-size: 3.6rem;
            }
            p {
                font-size: 1.6rem;
                text-align: center;
                color: #777;
            }
        }
    }
}